body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  text-align: center;
  background-color: #ffe6ff; /* Light pink */
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffccff; /* Lighter pink */
  padding: 20px;
  border-bottom: 2px solid #ff99ff; /* Pink */
}

h1 {
  color: #ff66b3; /* Pink */
  font-size: 36px;
}

.highlight {
  color: #ff66b3; /* Pink */
}

main {
  margin-top: 20px;
}

button, a#githubBtn {
  background-color: #ffccff; /* Lighter pink */
  padding: 20px;
  margin-top: 10px;
  border: 2px solid #ff99ff; /* Pink */
  border-radius: 5px;
}

button:hover, a#githubBtn:hover {
  background-color: #ff66cc; /* Lighter pink */
}

#wolfClientBox {
  display: none;
  background-color: #ffccff; /* Lighter pink */
  padding: 20px;
  margin-top: 10px;
  border: 2px solid #ff99ff; /* Pink */
  border-radius: 5px;
}

/* Add cute decorative elements */
.cute-border {
  border: 2px solid #ff66b3; /* Pink */
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  display: inline-block;
}

.cute-border:hover {
  background-color: #ffccff; /* Lighter pink */
}
